body {
	background-color: #0086b3;
}

.container {
	background-color: white;
	display: flex;
	align-content: center;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 12px;
	padding-right: 30px;
  	width: 40%;
}

img {
	display: block;
  	width: 40%;
  	height: 100%;
}

.params {
  	width: 60%;
}

h4 {
	font-weight: bold;
	margin-top: 6px;
	margin-bottom: 16px;
}

p {
	margin-bottom: 8px;
  	text-align: justify;
  	text-justify: inter-word;
}

.btn {
  	margin-top: 8px;
  	width: 70px;
}